    #comics {
        position: relative;
        z-index: 5;
        min-height: 500px;
        padding: 50px 0;
        background-color: #fff;
}

.price {
        padding: 5px;
        background-color: rgb(1, 167, 1);    
        text-transform: uppercase;

    }