//  HEADER

header {
    figure {
        flex-grow: 1;
        a img {
            max-width: 80px;
            height: auto;
        }
    }
}
ul {
    display: flex;
    align-items: center;
    li {
        list-style: none;
        &.active {
            border-bottom: 2px solid $blue-color;
        }
        a {
            text-transform: uppercase;
            color: $gray-color;
            font-weight: bold;
            padding: 10px;
            text-decoration: none;
            color: $gray-color;
            &:hover {
                color: $blue-color;
            }
        }
    }
}

// JUMBOTRON
.jumbotron {
    background-image: url("../images/jumbotron.jpg");
    height: 400px;
}

h3 {
    color: white;
    text-transform: uppercase;
}
.placeholder {
    padding: 10px;
    position: absolute;
    z-index: 4;
    left: 10%;
    top: 500px;
    padding: 10px;
    background-color: $blue-color;
    display: inline-block;
}

// SECTION COMICS
.series {
    background-color: #1c1c1c;
    text-align: center;
    position: relative;
    z-index: 3;
    .current-series {
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        color: white;
        padding-bottom: 10px;
    }
    .button {
        margin: 30px 0;
        font-size: 0.9rem;
        padding: 10px;
        background-color: $blue-color;
        display: inline-block;
    }
}
.card {
    height: auto;
    width: 200px;
    padding: 1rem;
    margin: 0 auto;
    text-align: initial;
    img {
        width: 100%;
    }
}

// FOOTER
#footer-top {
    height: 400px;
    width: 100%;
    background-image: url("../images/footer-bg.jpg");
    position: relative;

    nav {
        margin: 20px 25px 0 0;
        height: 400px;
        h3 {
            margin: 15px 0;
        }
        ul {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            li {
                list-style: none;
                margin-bottom: 5px;
                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $gray-color;
                    padding-left: 0;
                }
            }
        }
    }
    figure {
        position: absolute;
        top: -50px;
        right: 50px;
        z-index: 1;
        img {
            max-width: 90%;
        }
    }
}

#footer-bottom {
    position: relative;
    z-index: 2;
    height: 120px;
    background-color: $bg-footer;
    .container .row {
        justify-content: space-between;
        height: 120px;
        align-content: center;
        .link-sign {
            border: 2px solid $blue-color;
            padding: 10px;
            display: flex;
            align-items: center;
        }
    }

    .social {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            color: $blue-color;
        }
    }
}
