//  HEADER
.container {
    max-width: 1300px;
    margin: 0 auto;
    .row {
        height: 120px;
        display: flex;
        align-items: center;
        figure {
            flex-grow: 1;
            img {
                max-width: 80px;
                height: auto;
            }
        }
        ul {
            display: flex;
            li {
                list-style: none;
                &.active {
                    border-bottom: 2px solid $blue-color;
                }
                a {
                    text-transform: uppercase;
                    color: $gray-color;
                    font-weight: bold;
                    padding: 10px;
                    text-decoration: none;
                    color: $gray-color;
                    &:hover {
                        color: $blue-color;
                    }
                }
            }
        }
    }
}

// JUMBOTRON
.jumbotron {
    background-image: url("../images/jumbotron.jpg");
    height: 400px;
    h3 {
        color: white;
        text-transform: uppercase;
    }
}
.placeholder {
    padding: 10px;
    position: absolute;
    left: 10%;
    top: 500px;
    padding: 10px;
    background-color: $blue-color;
    display: inline-block;
}
