.container {
  max-width: 1300px;
  margin: 0 auto;
}

.row {
  height: 120px;
  display: flex;
  align-items: center;
}

figure {
  flex-grow: 1;
}
figure img {
  max-width: 80px;
  height: auto;
}

ul {
  display: flex;
}
ul li {
  list-style: none;
}
ul li.active {
  border-bottom: 2px solid #0282F9;
}
ul li a {
  text-transform: uppercase;
  color: #777575;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: #777575;
}
ul li a:hover {
  color: #0282F9;
}

.jumbotron {
  background-image: url("../images/jumbotron.jpg");
  height: 400px;
}
.jumbotron h3 {
  color: white;
  text-transform: uppercase;
}

.placeholder {
  padding: 10px;
  position: absolute;
  left: 10%;
  top: 500px;
  padding: 10px;
  background-color: #0282F9;
  display: inline-block;
}

.series {
  background-color: #1c1c1c;
  text-align: center;
}
.series .current-series {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding-bottom: 10px;
}
.series .button {
  margin: 30px 0;
  font-size: 0.9rem;
  padding: 10px;
  background-color: #0282F9;
  display: inline-block;
}

.cards {
  height: auto;
  width: 200px;
  padding: 1rem;
  margin: 0 auto;
  text-align: initial;
}
.cards img {
  width: 100%;
}