* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.row {
  height: 120px;
  display: flex;
}

.my-3 {
  margin: 3rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-1 {
  margin: 0 1rem;
}

header figure {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
header figure a img {
  max-width: 80px;
  height: auto;
}

ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
}
ul li a {
  text-transform: uppercase;
  color: #777575;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: #777575;
}
ul li a.active, ul li a:hover {
  background-color: #6ab6fd;
}

.jumbotron {
  background-image: url("../images/jumbotron.jpg");
  height: 400px;
}

h3 {
  color: white;
  text-transform: uppercase;
}

.placeholder {
  padding: 10px;
  position: absolute;
  z-index: 4;
  left: 10%;
  top: 510px;
  padding: 10px;
  background-color: #0282F9;
  display: inline-block;
}

.series {
  background-color: #1c1c1c;
  text-align: center;
  position: relative;
  z-index: 3;
}
.series .current-series {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding-bottom: 10px;
}
.series .button {
  margin: 30px 0;
  font-size: 0.9rem;
  padding: 10px;
  background-color: #0282F9;
  display: inline-block;
}

.card {
  height: auto;
  width: 200px;
  padding: 1rem;
  margin: 0 auto;
  text-align: initial;
}
.card img {
  width: 100%;
}

#footer-top {
  height: 400px;
  width: 100%;
  background-image: url("../images/footer-bg.jpg");
  position: relative;
}
#footer-top nav {
  margin: 20px 25px 0 0;
  height: 400px;
}
#footer-top nav h3 {
  margin: 15px 0;
}
#footer-top nav ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#footer-top nav ul li {
  list-style: none;
  margin-bottom: 5px;
}
#footer-top nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #777575;
  padding-left: 0;
}
#footer-top figure {
  position: absolute;
  top: -50px;
  right: 50px;
  z-index: 1;
}
#footer-top figure img {
  max-width: 90%;
}

#footer-bottom {
  position: relative;
  z-index: 2;
  height: 120px;
  background-color: #303030;
}
#footer-bottom .container .row {
  justify-content: space-between;
  height: 120px;
  align-content: center;
}
#footer-bottom .container .row .link-sign {
  border: 2px solid #0282F9;
  padding: 10px;
  display: flex;
  align-items: center;
}
#footer-bottom .social {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-bottom .social h3 {
  color: #0282F9;
}

#comics {
  position: relative;
  z-index: 5;
  min-height: 500px;
  padding: 50px 0;
  background-color: #fff;
}

.price {
  padding: 5px;
  background-color: #01a701;
  text-transform: uppercase;
}